---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Vatsal, a fullstack software developer from Gujarat, India.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Postgres</li>
        <li>Nodejs</li>
        <li>TypeScript</li>
        <li>Python</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about photography, traveling, and designing.
    </p>
  </div>
</Card>
