---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Born and raised in Gujarat, India, I've always been fascinated by how technology can solve real-world problems.
      <br />
      <br />
      Beyond coding:
      <ul class="list-inside list-disc text-sm font-light">
        <li>Photography & travel enthusiast</li>
        <li>UI/UX design experimenter</li>
        <li>Open-source contributor</li>
        <li>Community mentor</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I believe the best innovations happen at the intersection of technology and human empathy.
    </p>
  </div>
</Card>
